@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
   background-color: #ffff;
   margin:0;
   
   
}  





a{
    text-decoration: none;
    font-family: roboto;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #4165CA;
    margin-top: -1%;
        
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    transition: 1s;
}



section {    
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h2 {
    margin-top: 2%;
    margin-left:24%;
    font-family: roboto;
    color: #203264;            
    margin-bottom: 30px;
    font-size: 2em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content p {
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}



@media(max-width: 768px){
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

h3{
    font-family: roboto;
    color: #203264;
}

#sobre{
    margin: auto;
    height: 20%;
    width: 50%;
}




#sobre > p{   
    text-align: center;
    color:black;
    font-size: 20px;
    padding: 50px 40px 40px 40px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.425);
    margin: auto;
    min-width: 360px;
    max-width: 1000px;
    line-height: 40px;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.062);
    

}

#sobre > p {
    font-family: roboto;    
}



.btn-orcamento{
    font-family: roboto, bold;
    
    position: absolute;
    top: 90%;
    left: 80%;
    color: white;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    transition: 1s;
}

.btn-orcamento:hover{
    transform: scale(1.2);

}

.slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 800px;
    z-index: 10;
}

h4{
    font-family: roboto;
    font-size: 2em;
}


.slider{
    margin: 0 auto;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

.slides{
    display: block;
    width: 400%;
    height: 100%;
    display: flex; 
}

.slides input{
    display: none;
    width: 100vw;
}

.slide{
    width: 25%;
    height: 100%;
    position: absolute;
    transition: 2s;
    margin-block-start:auto ;
}

.slide{    
    position: relative;
    transition: 2s;
    
}

.slide img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5; 
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top:-50px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation_auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
 .navigation_auto{
    position: absolute;
    width: 100%;
    margin-top: 950px;
    display: flex;
    justify-content: center;
 }

.navigation_auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation_auto .auto-btn1{
    background-color: #ffffff;
}
#radio2:checked ~ .navigation_auto .auto-btn2{
    background-color: #ffffff;
}
#radio3:checked ~ .navigation_auto .auto-btn3{
    background-color: #ffffff;
}

li{
    margin: 9px;
    font-weight: bold;
}

li > img{
    height: 30px;
    width: 30px;
    margin: 3px;
}


#orcamento{
    font-size: 13px;
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: -5%;
}


#contato{
   display: flex;
    height: 300px;
    flex-wrap: wrap;
    gap: 20px;  
    background-color:#E1ECF7;
   
}


#contato p{
    display: flex;
    color: black;
    padding: 0 3% 0;
    font-family: "Roboto";
    font-weight: bold;
   
   
}

#contato a{
    color:#4165CA;
    font-family: "Roboto";
    text-decoration: none;
    font-size: 18px;
    
    transition: 0.5s;
}

#contato a:hover{
    color: black;
    text-decoration: underline;
}

#telefone{
    color: #2B4386;
    text-align: center;
    margin: 10% auto 0;
    font-size: 30px;
    padding: 0;
    font-family: roboto;
}

.local{

}

footer{
    background-color: #111F34;
    height: 150px; 
    padding: 20px 40px;
    font-family: "Roboto";
    font-size: 14px;
    color: white; 
    text-align: left;
}

footer p{
    font-family: "Roboto";
    font-size: 14px;
    color: white; 
    margin: 4% 0 0 15%;
    text-align: left;


}