@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --corpadraotxt:#203264;
    --coralttxt:#00A7C7;
    --cordest:#05F2F2;

    --fontealt: "Atkinson Hyperlegible Mono", sans-serif;
    
}

@media (max-width:768px) {
    #sobre{
        flex-direction: column;
    }

    #sobre > picture{
        max-width: 100%;
        margin-bottom: 20px;
    }

    #sobre h3{
        padding-left: 20px;
    }
    #contato{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10px;
    }
    .telefone, .email, .local{
        width: 90%;
        max-width: none;
        margin: 15px 0;
    }
    .telefone h5, .email h5, .local h5{
        text-align: center;
    }
}




* {
    margin: 0;
    padding: 0;
}


body {
   background-color: #ffff;
   margin:0;
   
   
}  

a{
    text-decoration: none;
    font-family: roboto;
}


nav {
    display: flex;
    justify-content: center;
    background-color: #4165CA;
    margin-top: -1%;
        
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    transition: 1s;
}



section {    
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

#servicos{
    width:100%;
    max-width: 1850px;
    background-color: black;
    background-image: url(img/fotos-nossos-servicos.jpg);
    background-position: center center;
    background-size: contain;
    margin: auto;
   
   
}

#services{
    text-align: center;
    padding: 40px;
    font-family: "Roboto";
    color: var(--corpadraotxt);
    font-size: 2em;
    text-transform: uppercase;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    color: white;
    background-color: var(--corpadraotxt);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;    
}

.card p{
    font-family: "Roboto";
    line-height: 2;
}

.card h3{
    color:var(--cordest);
    padding: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content p {
    margin-bottom: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}



@media(max-width: 768px){
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

h3{
    font-family: roboto;
    color: #203264;
}

#sobre{
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    gap: 40px;
    padding: 0 20px;
    flex-wrap: wrap;
}

#sobre h2{
    
    padding-bottom: 35px;
    font-size: 20px;
    color: var(--coralttxt);
    font-family: var(--fontealt);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#sobre h3{   
    font-size: 38px;
    line-height: 1.2;
    font-weight: 800;
    color: var(--corpadraotxt);

    position: relative;
    padding-left: 15px;
    margin-bottom: 20px;
    font-family: "Roboto";
    text-align: left;
}

#sobre::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--coralttxt);

}

.paragrafo{   
    flex: 1;
    padding-top: 10px ;
    font-family: "Roboto";
    text-align: justify;
    color:var(--corpadraotxt);
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 3;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.062);    
}

.paragrafo span{
   font-family: "Roboto";
   text-align: justify;
   color: var(--corpadraotxt);
   font-size: 20px;
   display: block;
   margin-top: 10%;
   
}
 



#sobre >picture img{
    width: 100%;
    max-width: 400px;
    height: auto;
    flex: 0 0 auto;
    border-radius: 10px;
   
}



.btn-orcamento{
    font-family: roboto, bold;
    
    position: absolute;
    top: 90%;
    left: 80%;
    color: white;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    transition: 1s;
}

.btn-orcamento:hover{
    transform: scale(1.2);

}

.slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Roboto";
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 800px;
    z-index: 10;
}

h4{
    font-family: "Roboto";
    font-size: 2em;
}


.slider{
    margin: 0 auto;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

.slides{
    display: block;
    width: 400%;
    height: 100%;
    display: flex; 
}

.slides input{
    display: none;
    width: 100vw;
}

.slide{
    width: 25%;
    height: 100%;
    position: absolute;
    transition: 2s;
    margin-block-start:auto ;
}

.slide{    
    position: relative;
    transition: 2s;
    
}

.slide img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide::before{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5; 
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top:-50px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation_auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
 .navigation_auto{
    position: absolute;
    width: 100%;
    margin-top: 950px;
    display: flex;
    justify-content: center;
 }

.navigation_auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation_auto .auto-btn1{
    background-color: #ffffff;
}
#radio2:checked ~ .navigation_auto .auto-btn2{
    background-color: #ffffff;
}
#radio3:checked ~ .navigation_auto .auto-btn3{
    background-color: #ffffff;
}

li{
    margin: 9px;
    font-weight: bold;
}

li > img{
    height: 30px;
    width: 30px;
    margin: 3px;
}

#contato{
    display: flex;
    justify-content:space-evenly;
    margin-top: 10%;
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    gap: 20px;  
    background-color:#E1ECF7;
   
}

#contato img{
    width: 50px;
}


#contato a{
    color:black;
    font-family: "Roboto";
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

#contato a:hover{
  
    text-decoration: underline;
}

.telefone, .email, .local{
    flex:1;
    max-width: 30%;

}

.telefone{
    margin: 3% ;
    font-family: "Roboto";
    padding: 10px;
}

.telefone h5{
    font-family: "Roboto";
    font-size: 2em;
}

.telefone p{
    font-family: "Roboto";
    padding: 5px;
}



.email{
    margin: 3% ;
    font-family: "Roboto";
    padding: 5px;
}

.email h5{
    font-family: "Roboto";
    font-size: 2em;
}

.local{
     margin: 3% ;
    font-family: "Roboto";
    color: black;
}

.local h5{
    font-size: 2em;
}

footer{
    background-color: #111F34;
    height: 150px; 
    padding: 20px 40px;
    font-family: "Roboto";
    font-size: 14px;
    color: white; 
    text-align: left;
}

footer p{
    font-family: "Roboto";
    font-size: 14px;
    color: white; 
    margin: 4% 0 0 15%;
    text-align: left;


}